.sdoc-context-toolbar {
  position: absolute;
  display: none;
  width: auto;
  height: 42px;
  z-index: 101;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.1);
}

.sdoc-context-toolbar .menu-group {
  border-right: none;
}
