/* modify default css */
.sdoc-icon-btn {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.sdoc-icon-btn:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

.sdoc-icon-btn .sdocfont {
  color: #666;
  font-size: 16px;
}

.linked-block-highlight-overlay {
  position: relative;
}

.linked-block-highlight-overlay::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(169, 201, 237, 0.3);
  pointer-events: none;
}
