.sdoc-dropdown-menu,
.sdoc-dropdown-menu .sdoc-dropdown-menu-container {
  min-width: 12rem;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-divider {
  width: 100%;
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-item {
  height: 30px;
  width: 100%;
  padding: 4px 24px;
  user-select: none;
  display: flex;
  align-items: center;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-item-title {
  color: #666666;
  padding: 3px 12px;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-item-title:hover {
  background-color: unset !important;
  cursor: initial !important;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-item-no-results {
  height: 30px;
  width: 100%;
  padding: 4px 24px;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-item-hidden {
  display: none;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-item.disabled,
.sdoc-dropdown-menu .sdoc-dropdown-menu-item.disabled .sdoc-dropdown-item-content-icon {
  color: #c2c2c2 !important;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-item:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-item.disabled:hover {
  background-color: unset;
  cursor: default;
  color: #c2c2c2;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-item .sdocfont {
  font-size: 14px;
  line-height: 14px;
}

.sdoc-dropdown-menu .sdoc-dropdown-menu-item .sdoc-dropdown-item-content {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
}

.sdoc-dropdown-menu .sdoc-dropdown-item-content .sdoc-dropdown-item-content-icon {
  margin-right: 10px;
}

.sdoc-dropdown-menu .sdoc-dropdown-item-right-icon {
  color: #999;
}

.sdoc-dropdown-menu .sdoc-dropdown-item-with-left-icon {
  min-height: 32px;
  padding: 3px 12px;
}

.sdoc-dropdown-menu .sdoc-check-mark {
  color: #798d99;
  transform: scale(1);
}

/* sub menu */
.sdoc-sub-dropdown-menu .popover {
  left: -8px !important;
}

.sdoc-sub-dropdown-menu .bs-popover-auto[x-placement^="left"] {
  left: 8px !important;
}

.mobile-login .sdoc-dropdown-menu {
  padding: 0 !important;
}

.mobile-login .sdoc-dropdown-menu .sdoc-dropdown-menu-item {
  padding: 16px !important;
  height: 47px !important;
}

.mobile-login .sdoc-dropdown-menu .sdoc-operator-folder-divider {
  margin: 0 !important;
}
