.sdoc-editor-container {
  flex: 1;
  display: flex;
  min-height: 0;
}

.sdoc-wiki-scroll-container {
  display: flex;
  overflow: auto;
}

.sdoc-wiki-scroll-container .sdoc-article-container {
  width: 100%;
}

.sdoc-wiki-scroll-container .sdoc-article-container .article .sdoc-header-2 {
  border-bottom: 1px solid #ccc;
}

.sdoc-wiki-outline-container {
  height: 80%;
  overflow-y: auto;
  padding-right: 1rem;
  position: fixed;
  right: 0;
  top: 97px;
  width: 300px;
}
