.sdoc-tooltip {
  pointer-events: none;
}

.sdoc-tooltip .tooltip {
  max-width: 242px;
  opacity: 1;
}

.sdoc-tooltip .tooltip-inner {
  font-size: 14px;
  text-align: start;
  background-color: var(--bs-body-color);
  color: var(--bs-body-bg);
  border-radius: 4px;
  padding: 4px 8px;
  line-height: 20px;
  font-weight: normal;
}

.sdoc-tooltip.bs-tooltip-auto[data-popper-placement^="top"] {
  margin-bottom: -2px;
}
