.menu-group-item.sdoc-comment-menu-container {
  width: auto;
  color: #212529;
  font-size: 14px;
}

.menu-group-item.sdoc-comment-menu-container .sdoc-comment-menu-item {
  padding: 4px;
}

.menu-group-item.sdoc-comment-menu-container .sdocfont {
  color: #666;
}

.sdoc-comment-menu-item .sdoc-comments {
  margin-right: 4px;
}

.sdoc-context-menu-divider {
  margin-right: 8px;
  border-left: 1px solid #e5e5e5;
  width: 1px;
  height: 24px;
}
