.menu-group .menu-group-item.sdoc-insert-toolbar-btn {
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-group .menu-group-item.sdoc-insert-toolbar-btn .text-truncate {
  color: #212529;
}

.menu-group .menu-group-item.sdoc-insert-toolbar-btn.disabled {
  /* 64: 76 - 12 */
  width: 64px !important;
  color: #BDBDBD;
}

.menu-group .sdoc-insert-toolbar-btn .sdoc-menu-with-dropdown-icon {
  flex: 1;
  justify-content: flex-start;
  padding-left: 6px;
  padding-right: 2px;
  font-size: 14px;
}

.sdoc-font-family-menu .sdoc-menu-with-dropdown-icon div .sdoc-insert-menu-popover .popover {
  min-width: 200px;
}
