.sdoc-file-select-dialog {
  max-width: 700px;
}

.sdoc-file-select-dialog .sdoc-file-select-modal {
  width: 700px;
}

.sdoc-file-select-dialog .sdoc-file-select-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.sdoc-file-select-dialog .highlight-bg-color {
  background-color: #FF8000;
  border-color: #FF8000;
}

.sdoc-file-select-dialog .modal-header-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 57px;
  padding: 16px;
  border-bottom: 1px solid #e9ecef;
}

.sdoc-file-select-dialog .modal-title-container {
  flex: 0 1 auto;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.sdoc-close-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  cursor: pointer;
}

.sdoc-file-select-dialog .modal-header-container .sdoc-sm-close {
  font-size: 16px;
  color: #666666;
}

.sdoc-file-select-dialog .modal-header-container .sdoc-sm-close:hover {
  background-color: #EFEFEF;
  border-radius: 3px;
  height: 28px;
  width: 28px;
}

.sdoc-files-search-popover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  cursor: pointer;
}

.sdoc-search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.sdoc-search-input {
  flex: 1;
  height: 38px;
  padding: 0 35px;
  line-height: 28px;
}

.sdoc-search-input::placeholder {
  color: #868E96;
  font-size: 14px;
}

.sdoc-files-search-popover-container .sdoc-search-wrapper .sdoc-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  color: #868E96 !important;
}

.sdoc-files-search-popover-container .sdoc-search-wrapper .sdoc-sm-close,
.sdoc-files-search-popover-container .sdoc-search-wrapper .sdoc-find-replace {
  color: #666666;
  font-size: 14px;
}

.sdoc-files-search-popover-container .sdoc-search-wrapper .sdoc-sm-close:hover {
  background-color: #EFEFEF;
  border-radius: 3px;
  height: 20px;
  width: 20px;
}

.sdoc-files-search-popover-container .sdoc-search-wrapper .sdoc-search {
  position: absolute;
  left: 10px;
}

.sdoc-file-select-container .sdoc-file-select-wrapper {
  display: flex;
  width: 100%;
}

.sdoc-file-select-wrapper .sdoc-file-metadata-wrapper {
  display: flex;
}

.sdoc-file-left-panel {
  width: 100%;
}

.sdoc-file-left-panel.with-right-metadata-panel {
  width: 398px;
}

.sdoc-file-left-panel .sdoc-files-search-popover-container {
  padding: 8px 16px 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sdoc-file-select-dialog .modal-header-container .modal-operation-container {
  display: flex;
  align-items: center;
}

.sdoc-toggle-view {
  display: flex;
  margin-right: 0.5rem;
  border: 1px solid #eee;
  border-radius: 3px;
  height: 36px;
  padding: 3px;
}

.sdoc-toggle-view .sdoc-tree-view,
.sdoc-toggle-view .sdoc-list-view {
  color: #666666;
  min-width: 66px;
  width: fit-content;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sdoc-toggle-view .sdoc-tree-view.active,
.sdoc-toggle-view .sdoc-list-view.active {
  background-color: #f5f5f5;
}

.sdoc-toggle-view .sdoc-tree-view:hover,
.sdoc-toggle-view .sdoc-list-view:hover {
  background-color: #f0f0f0;
}
