.revisions-dialog {
  width: 700px;
  max-width: 700px;
  height: calc(100% - 56px);
}

.revisions-dialog .modal-content {
  height: 100%;
  overflow: hidden;
}

.revisions-dialog .revisions-body {
  height: calc(100% - 50px);
  padding: 0;
  overflow: hidden;
}

.revisions-dialog .sdoc-revisions-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.revisions-dialog .sdoc-revisions-container .sdoc-revisions-header {
  height: 41px;
  width: calc(100% - 32px);
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.revisions-dialog .sdoc-revisions-container .sdoc-revisions-content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 16px 16px 16px;
}

.revisions-dialog .sdoc-revisions-container .sdoc-revisions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.revisions-dialog .sdoc-revisions-container.loading {
  align-items: center;
  justify-content: center;
}

.revisions-dialog .revisions-body .sdoc-revision {
  height: 41px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}

.revisions-dialog .revisions-body .sdoc-revision.operating {
  background-color: #f5f5f5;
}

.revisions-dialog .revisions-body .sdoc-revision:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.revisions-dialog .sdoc-revision-name-header,
.revisions-dialog .sdoc-revision-user-header,
.revisions-dialog .sdoc-revision-time-header {
  padding-left: 9px;
  color: #999;
}

.revisions-dialog .sdoc-revision .sdoc-revision-user {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 9px;
}

.revisions-dialog .sdoc-revision .sdoc-revision-name {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 9px;
}

.revisions-dialog .sdoc-revision .sdoc-revision-name-content {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.revisions-dialog .sdoc-revision .sdoc-revision-time {
  height: 100%;
  padding-left: 9px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.revisions-dialog .revisions-body .sdoc-revision.loading {
  height: 40px;
  align-items: center;
  border-bottom: none;
}

.revisions-dialog .sdoc-revision.loading:hover {
  background-color: unset;
}

.revisions-dialog .sdoc-revision-operations {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
