.sdoc-insert-menu-file-view-popover .popover {
  max-width: 300px;
}

.sdoc-dropdown-menu .sdoc-linked-repo-list-wrapper {
  /* position: absolute; */
  background-color: #ffff;
  max-height: 370px;
  padding: 0px !important;
  width: 298px;
  padding: 0px;
  left: -8px;
}

.sdoc-dropdown-menu .sdoc-linked-repo-list-wrapper .sdoc-linked-repo-list-tip {
  margin-top: 8px;
  min-height: 32px;
  padding: 3px 12px;
  color: #666;
}

.sdoc-dropdown-menu .sdoc-linked-repo-list-wrapper .sdoc-linked-repo-list-content-wrapper {
  max-height: 300px;
  overflow-y: auto;
  padding-bottom: 8px;
  border-bottom: 1px solid #e9ecef;
}

.sdoc-dropdown-menu .sdoc-linked-repo-list-wrapper .sdoc-dropdown-menu-item {
  min-height: 32px;
  padding: 3px 12px;
  display: flex;
  align-items: center;
}

.sdoc-dropdown-menu .sdoc-linked-repo-list-wrapper .sdoc-dropdown-menu-item .lib-icon {
  margin-right: 10px;
}

.sdoc-dropdown-menu .sdoc-linked-repo-list-wrapper .sdoc-linked-repo-list-add-toolbar {
  min-height: 32px;
  padding: 3px 12px;
}

.sdoc-dropdown-menu .sdoc-linked-repo-list-wrapper .sdoc-linked-repo-list-add-toolbar .sdocfont {
  color: #666;
  margin-right: 10px;
}

.sdoc-dropdown-menu .sdoc-linked-repo-list-wrapper .sdoc-linked-repo-list-add-toolbar:hover {
  background: #f5f5f5;
  cursor: pointer;
}
