.sdoc-revision-changes-container {
  height: 32px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.sdoc-revision-changes-container .sdoc-revision-changes-divider {
  border-right: 1px solid #e5e5e5;
  height: 100%;
  width: 1px;
}

.sdoc-revision-changes-container .sdoc-revision-changes-last,
.sdoc-revision-changes-container .sdoc-revision-changes-next {
  padding: 0 8px;
  height: 100%;
}

.sdoc-revision-changes-container .sdoc-revision-changes-last .sdocfont,
.sdoc-revision-changes-container .sdoc-revision-changes-next .sdocfont {
  color: #000;
  opacity: .5;
}

.sdoc-revision-changes-container .sdoc-revision-changes-last:hover,
.sdoc-revision-changes-container .sdoc-revision-changes-next:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.sdoc-revision-changes-container .sdoc-revision-changes-last:hover .sdocfont,
.sdoc-revision-changes-container .sdoc-revision-changes-next:hover .sdocfont {
  opacity: .75;
}
