.sdoc-revisions-count {
  height: 28px;
  width: fit-content;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  line-height: 26px;
  text-align: center;
  padding: 0 16px;
  margin-left: 1rem;
  color: #212529;
}

.sdoc-revisions-count:hover {
  background-color: #f5f5f5;
  border-color: rgba(0, 20, 49, .12);
  color: #212529;
  cursor: pointer;
}
