.sdoc-side-menu-popover {
  position: absolute;
}

.sdoc-side-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 6px 14px 0px rgba(0, 0, 0, .1);
  transform: translateX(-200px);
  z-index: 999;
}

.sdoc-side-menu .sdoc-side-menu-search-wrapper {
  padding: 0 8px 8px;
}

.sdoc-side-menu .sdoc-side-menu-search-wrapper input {
  max-height: 32px;
  font-size: 14px;
}

.sdoc-side-menu .sdoc-side-menu-insert-wrapper {
  max-height: 278px;
  overflow-y: auto;
}

.sdoc-side-menu-insert-below-popover .popover {
  background-color: #fff;
  min-width: 150px;
  border-radius: 8px;
  cursor: pointer;
}

.sdoc-side-menu-insert-below-popover .sdoc-dropdown-menu-container {
  overflow: auto;
}
