.sdoc-files-list {
  flex: 1;
  padding: 8px 16px;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sdoc-file-wrapper {
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: .8125rem;
  height: auto;
  padding: 10px 0 10px 8px;
  position: relative;
}

.sdoc-file-wrapper:hover {
  background-color: #f5f5f5;
}

.sdoc-file-wrapper .file-icon {
  height: 36px;
  width: 36px;
}

.sdoc-item-content {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin-left: .25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sdoc-file-wrapper:has(.sdoc-file-checked) .sdoc-item-content {
  padding-right: 32px;
}

.sdoc-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.sdoc-item-path {
  color: #666;
}

.sdoc-item-user-container {
  display: flex;
  color: #666;
}

.sdoc-item-user-container .item-divide {
  margin: 0 5px;
  transform: translateY(-1px);
}

.sdoc-files-list .sdoc-file-checked {
  position: absolute;
  right: 10px;
  top: 30px;
  color: #798d99;
  font-size: 12px;
  font-weight: 400;
}

.sdoc-files-list .sdoc-file-search-no-result {
  display: flex;
  justify-content: center;
}
